* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Etilos barra de navegacao */

body {
  background-color: #0d1117;
  height: 100vh;
}

header {
  background-color: #010409;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  list-style: none;
}

nav ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #8cff00;
}

nav ul li a:hover {
  color: #8a2be2;
}

/* Estilos principais */

.titulo {
  font-size: 32px;
  color: #e0e0e0;
  margin-top: 3rem;
  text-transform: uppercase;
}

.texto {
  margin-top: 3rem;
  font-size: 20px;
  color: #ffffff;
  text-align: justify;
}

.container {
  margin: auto 10rem;
}

.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.texto {
  margin-top: 3rem;
  font-size: 20px;
  color: #ffffff;
  text-align: justify;
}

/* Estilo formulario */

.formulario {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.formulario .grupo {
  display: flex;
  flex-direction: column;
}

.grupo label {
  margin-top: 1.5rem;
  color: #8cff00;
  font-size: 20px;
  font-weight: bold;
}

.grupo input,
textarea {
  margin-top: 0.5rem;
  width: 450px;
  height: 45px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  border: 2px solid #8a2be2;
  border-radius: 8px;
}

.grupo textarea {
  height: 200px;
}

button {
  margin-top: 2rem;
  padding: 12px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  background-color: #8a2be2;
}

button:hover {
  transform: scale(1.08);
  color: #8cff00;
  cursor: pointer;
}

/* Estilo footer */

footer {
  margin-top: 9rem;
  background-color: #010409;
  text-align: center;
  padding: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
