* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
/* Etilos barra de navegacao */
body {
  background-color: #0d1117;
  height: 100vh;
}

header {
  background-color: #010409;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  list-style: none;
}

nav ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #8cff00;
}

nav ul li a:hover {
  color: #8a2be2;
}

/* Estilos principais */

.titulo {
  font-size: 32px;
  color: #e0e0e0;
  margin-top: 3rem;
  text-transform: uppercase;
}

.texto {
  margin-top: 3rem;
  font-size: 20px;
  color: #ffffff;
  text-align: justify;
}

.container {
  margin: auto 10rem;
}

.portifolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.linha {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  column-gap: 2rem;
}

/* Estilos card */

.card {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: center;
}

.img-card {
  width: 450px;
  height: 300px;
  border: 2px solid #8a2be2;
  border-radius: 8px;
}

.titulo-card {
  margin-top: 0.5rem;
  color: #8cff00;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.texto-card {
  font-size: 16px;
}

.link {
  margin-top: 0.5rem;
  text-decoration: none;
  color: #8cff00;
  text-transform: uppercase;
  font-weight: bold;
}

.link:hover {
  color: #8a2be2;
}

/* Estilos footer */

footer {
  margin-top: 15rem;
  background-color: #010409;
  text-align: center;
  padding: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
